$primary-color: #ff1493;
$secondary-color: #57575d;
$tertiary-color: #e9e9e9;
$contrast-light: #ffffff;
$contrast-dark: #000000;

$max-width: 1330px;
$breakpoint-xl: 1136px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

@font-face {
  font-family: "primary-font-extrabold";
  src: url("@/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "primary-font-regular";
  src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "primary-font-medium";
  src: url("@/assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "primary-font-bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "primary-font-semibold";
  src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "secondary-font-medium";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "secondary-font-bold";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: 700;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
